@font-face {
    font-family:GothamSSm ;
    src: url("../font/GothamSSm-Medium_Web.woff2");
    font-weight: 500;
}
@font-face {
    font-family:GothamSSm ;
    src: url("../font/GothamSSm-Book_Web.woff2");
    font-weight: 400;
}
root{
    font-family:GothamSSm;
    font-weight:400;
    font-size:20px ;

}
header{
    font-family:GothamSSm;
    font-weight:500;
    font-size:14px ;
    color:  #393C41; 
}
